extends: default

ignore: |
  .github/workflows/**
  helm-charts/**/templates/**
  proxy/templates/**

rules:
  document-start: disable
  truthy: disable
  line-length:
    max: 140
    level: warning
